<section class="section">
    <%= render 'post', post: @post %>
    <% if @post.comments_counter > 0 %>
          <% @post.comments.each do |comment| %>
            <%= render 'comments', comment: comment, user: @user %>
            <% end %>
          <% end %>
</section>
<div class="like-btn">
  <%= form_with model: @post, url: "./#{@post.id}/likes", method: :post do |f|%>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= f.submit 'Like' %>
  <%end%>
  </div>
  <div class="create-btn">
  <button><%= link_to 'Create comment', new_user_post_comment_path(@user.id,@post.id) %></button>
</div>